html {
  background-color: rgb(93, 168, 230);
}

.app {
  text-align: center;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #b4aeae;
  }

  tr:hover {
    background-color: #b5adad;
  }
}

.sortBtn {
  padding: 5px;
  background-color: #b4aeae;
  border-radius: 5px;
  margin-right: 10px;

  &:hover {
    opacity: 0.6;
  }
}

input {
  padding: 3px;
  border-radius: 5px;
  background-color: #b4aeae;
  margin-bottom: 5px;
  width: 300px;
}

.input_area {
  text-align: center;

  label {
    margin-right: 5px;
  }
}
